.row .column-left {
    float: left;
    width: 60%;
    padding: 0 10px;
    box-sizing: border-box;
}

.row .column-right {
    float: left;
    width: 40%;
    padding: 0 10px;
    box-sizing: border-box;
}

.row .portfolio-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: rgb(110, 37, 200);
    padding-bottom: 100%;
    margin-bottom: -100%;
    box-sizing: border-box;
}


a {
    color:white;
}

a:hover {
    color: rgb(198, 99, 255)
}

@media (max-width: 600px) {
    .row .column-left {
        float: none;
        width: 100%;
        padding: 10px 10px;
    }

    .row .column-right {
        float: none;
        width: 100%;
        padding: 10px 10px;
    }

    .row .portfolio-card {
        border-top: 10px solid rgb(198, 99, 255);
        box-shadow: none;
    }
}