body {
    color: rgb(112, 43, 162);
    background: rgb(198, 99, 255);

    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 1;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {font-family: 'Open Sans', sans-serif;}

p {
    font-family: 'Work Sans', sans-serif;
    text-align: justify;
}

img.profile {
    margin: auto;
    display: block;
    height: 10%;
    width: 10%;
    border-radius: 100%;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding-top: 10px;
}

#main-header {
    background-color: rgb(157, 84, 209);
    color: rgb(52, 30, 68);
    font-size: 25px;
    line-height: 50px;
}

.navbar {
    background-color: rgb(110, 37, 200);
    color: white;
}

.navbar ul {
    padding: 0;
    list-style: none;
}

.navbar li {
    display: inline;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding-right: 35px;
}

.navbar a:hover {
    color: rgb(198, 99, 255)
}

.toggle-button {
    position: absolute;
    top: 6rem;
    right: .7rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 730px) {
    .navbar .blah {
        display: none;
        flex-direction: column;
    }

    .navbar ul li {
        text-align: center;
    }

    .navbar li {
        padding-top: 0.5rem;
    }

    .toggle-button {
        display: flex;
    }

    .navbar.active ul {
        display: flex;
    }
}

#showcase {
    background-image: url("images/showcase.jpg");
    background-position: center right;
    min-height: 20px;
    margin-bottom: 30px;
    text-align: center;
}

#showcase h1 {
    color: rgb(52, 30, 68);
    font-size: 50px;
    padding-top: 30px;
}

#showcase p {
    color: rgb(52, 30, 68);
    font-size: 20px;
    margin-right: 20%;
    margin-left: 20%;
    text-align: center;
}

#main {
    float: left;
    width: 70%;
    padding: 0 30px;
    box-sizing: border-box;
}

#main a {
    color: rgb(112, 43, 162);
}


#main a:hover {
    color: black;
}

#sidebar {
    float: right;
    width: 30%;
    border-radius: 4px;
    background-color: rgb(110, 37, 200);
    color: rgb(52, 30, 68);
    padding: 10px;
    box-sizing: border-box;
}

#main-footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

#socials-card {
    background-color: rgb(88, 31, 144);
    padding: 40px;
    border-radius: 4px;
    text-align: center;
    color: white;
}

#socials-header a {
    color: white;
    text-decoration: none;
}

#socials {
    list-style: none;
    padding-left: 0px;
}

#socials a {
    color: white;
}


#socials a:hover {
    color: black;
}

#socials i {
    font-size: 40px;
}

#socials li {
    display: inline;
    margin: 0 12px;
}


.column {
    float: left;
    width: 33.3%;
    padding: 0 10px;
    box-sizing: border-box;
}

.row {
    margin: 0 -5px;
    padding-top: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.row a {
    text-decoration: none;
}

.row .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    color: white;
    background-color: rgb(110, 37, 200);
    padding-bottom: 100%;
    margin-bottom: -100%;
    box-sizing: border-box;
}

.row .card p {text-align: center; hyphens: manual}

@media screen and (max-width: 600px) {
    #main{
        width: 100%;
        float: none;
    }

    #sidebar{
        width: 100%;
        float: none;
    }
}

.spacer {
    padding: 15%;
}